<div>
  <h1>APACHE SPARK ML TOOL</h1>
  <div class="example-container">
    <h2>FUNCTIONS</h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="functions"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of functions" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>PIPELINE</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>
        {{item}}
        <div>
          <button mat-raised-button (click)="openStartJob()" *ngIf="item === 'Start'">Details
          </button>
          <button mat-raised-button (click)="openFeatureExtraction()" *ngIf="item === 'FeatureExtraction'">Details
          </button>
          <button mat-raised-button (click)="openFeatureExtractionText()"
                  *ngIf="item === 'FeatureExtractionFromTextFile'">Details
          </button>
          <button mat-raised-button (click)="openSaveModel()" *ngIf="item === 'Save Model'">Details</button>
          <button mat-raised-button (click)="openDecisionTree()" *ngIf="item === 'Decision Tree'">Details</button>
          <button mat-raised-button (click)="openFeatureExtraction()" *ngIf="item === 'Collaborative Filtering'">
            Details
          </button>
          <button mat-raised-button (click)="openKMeans()" *ngIf="item === 'KMEANS'">Details</button>
        </div>
        <div *ngIf="done[0] !== 'Start' && done[0] !== 'Start'">
          <mat-error>The first component should be start</mat-error>
        </div>
        <div *ngIf="done.length === 2 && done[1] !== 'FeatureExtraction' && done[1] !== 'FeatureExtractionFromTextFile'">
          <mat-error>The second component should be feature extraction</mat-error>
        </div>
        <div
          *ngIf="done.length === 3 && done[2] !== 'Decision Tree' && done[2] !== 'Collaborative Filtering' && done[2] !== 'KMEANS'">
          <mat-error>The third component should be a machine learning function</mat-error>
        </div>
        <div *ngIf="done.length ===4 && done[3] !== 'Save Model' ">
          <mat-error>The fourth component should be save model</mat-error>
        </div>
      </div>
      <div *ngIf="isNotValid">
        <mat-error>There is a mismatch of order of components provided for the pipeline</mat-error>
      </div>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="GenerateJarFile()">Generate Jar</button>

</div>
