<div>
  <mat-dialog-content>
    <p>Source file detail</p>
    <form [formGroup]="featureDetails">
      <mat-form-field>
        <label>File Path</label>
        <input matInput formControlName="filePath" placeholder="Provide file path">
      </mat-form-field>
      <mat-form-field>
        <label>Label column name</label>
        <input matInput type="text" formControlName="labelCol">
      </mat-form-field>

      <mat-form-field>
        <label>Column with strings</label>
        <input matInput type="text" formControlName="labelCol">
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="featureDetails" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</div>
